.ThemeToggle {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-foreground);
  box-shadow: var(--shadow-solid);
  border-radius: 50%;
  padding: 0;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow .3s ease;
}
.ThemeToggle:hover,
.ThemeToggle:active,
.ThemeToggle:focus {
  color: var(--color-background);
  background-color: var(--color-foreground);
}
