.NoteWrapper {
  position: relative;
  width: 300px;
  margin: var(--size-gap) var(--size-gap-oneandhalf);
  border-radius: var(--size-radius);
  box-shadow: var(--shadow-solid);
  transition: box-shadow .3s ease;
  overflow:hidden;
}
.NoteWrapper:hover {
  box-shadow: var(--shadow-solid-hover);
}
.Note {
  min-height: 150px;
  flex: 1 0 auto;
  padding: var(--size-gap);
}
.Description {
  max-height: 500px;
  overflow-y: hidden;
  max-width: 100%;
}
.Description img {
  max-width: 100%;
}
.Title {
  margin: 0;
}
.Tag {
  border: solid 1px var(--color-foreground);
  border-radius: var(--size-radius);
  padding: 0 var(--size-gap-half);
  margin-right: var(--size-gap-half);
}
.Tag:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.Actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--size-gap);
  display: flex;
  color: var(--color-foreground);
  justify-content: flex-start;
  flex-direction: row;
  visibility: hidden;
  background-color: var(--color-background);
  border-top: solid 1px var(--color-foreground) ;
  transform: translateY(100px);
  transition: transform 0.3s ease;
}
.NoteWrapper:hover .Actions {
  visibility: visible;
  transform: translateY(0px);
}

.Actions button {
  border: solid 1px transparent;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  color: var(--color-foreground);
  opacity: 0.2;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: var(--size-gap-half);
}
.Actions button:hover {
  opacity: 0.8;
}
.Actions button[aria-pressed="true"] {
  border: solid 1px var(--color-foreground);
  opacity: 1;
}
