.Library {
  width:100%;
}
.LibraryRack {
  display: flex;
  flex-wrap: wrap;
}
.HRule {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
