.SideBarToggle {
  padding: var(--size-gap);
  margin: 0 var(--size-gap-quarter);
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-foreground);
}
