.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 4rem 2rem 0 2rem;
}
.Modal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.CloseButton {
  border: solid 1px var(--color-foreground);
  outline: none;
  color: var(--color-foreground);
  background-color: var(--color-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  padding: 0 ;
}
.CloseButton:hover {
    opacity: 1;
    color: var(--color-background);
    background-color: var(--color-foreground);
}
