.SearchBar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--accents-2) ;
    border-radius: var(--size-radius);
    transition: background-color 0.5s ease;
    box-shadow: var(--shadow-solid);
}
.SearchBar:focus-within{
    background-color: var(--color-foreground) ;
    box-shadow: var(--shadow-solid-hover);
}
.SearchBar:focus-within .SearchButton,.SearchBar:focus-within .CloseButton,.SearchBar:focus-within .SearchInput{
    color: var(--color-background);
}
.SearchButton {
    outline: none;
    border: none;
    padding: 0;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-foreground);
    background-color: transparent;
    border-top-left-radius: var(--size-radius);
    border-bottom-left-radius: var(--size-radius);
}
.CloseButton {
    outline: none;
    border: none;
    padding: 0;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-foreground);
    background-color: transparent;
    border-top-right-radius: var(--size-radius);
    border-bottom-right-radius: var(--size-radius);
    visibility: hidden;
}
.SearchInputContainer {
    padding: var(--size-gap-half) 0;
    margin:0;
}
.SearchInput{
    outline: none;
    border: none;
    color: var(--color-foreground);
    background-color: transparent;
    font-size: 18px;
}

.Visible {
    visibility: visible;
}
