.Header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--size-gap-half);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
.Navigation {
  display: flex;
  justify-content: left;
  align-items: center;
}
.SearchContainer {
  display: flex;
  align-items: center;
}
.ToggleContainer {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px)  {
  .Header {
    flex-wrap: wrap;
  }
  .SearchContainer {
     order:3;
     width: 100%;
     justify-content: center;
  }
}