.Menu {
  max-width: 280px;
}
.NavItem {
  display: flex;
  align-items: center;
  padding: var(--size-gap-oneandhalf);
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color-foreground);
}
.NavItem:hover,.NavItem:active,.NavItem:focus {
  background-color: var(--accents-2);
}
.Label {
  margin: 0 0 0 var(--size-gap);
  width: 180px;
  font-size: 16px;
  text-align: left;
}
