.NoteEditor {
  /* border: solid 2px var(--color-foreground);
   */
  box-shadow: var(--shadow-solid);
  border-radius: var(--size-radius);
  width: 90%;
  max-width: 600px;
  color: var(--color-foreground);
  background-color: var(--color-background);
  transition: box-shadow 0.3s ease;
}
.NoteEditor:hover, .NoteEditor:focus-within {
  box-shadow: var(--shadow-solid-hover);
}
.NoteEditor.FullWidth {
  width: 100%;
  max-width: 100%;
}
.NoteEditor > div {
  padding: var(--size-gap);
}
.Description {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-foreground);
  font-size: 1rem;
  width: 100%;
  resize: vertical;
}
.Title {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-foreground);
  font-size: 1.2rem;
  width: 100%;
}
.Actions {
  display: flex;
  justify-content: space-between;
}
.Actions > div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.Actions button {
  border: solid 1px transparent;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  color: var(--color-foreground);
  opacity: 0.2;
  padding: 0;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--size-gap-half);
}
.Actions button:hover {
  opacity: 0.8;
}
.Actions button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.Actions button[aria-pressed="true"] {
  border: solid 1px var(--color-foreground);
  opacity: 1;
}

.Preview {
  max-width: 100%;
}
.Preview img {
  max-width: 100%;
}