.App {
  box-sizing: border-box;
  height: 100%;
}

.MainArea {
  padding-top: 76px;
  display: flex;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.ScrollableContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.SidebarContainer {
  flex-shrink: 0;
  flex-grow: 1;
  background-color: var(--color-background);
  border-right: solid 1px var(--accents-6);
  border-top: solid 1px var(--accents-6);
}
.DisplayContainer {
  width: 100%;
  padding: var(--size-gap);
  border-top: solid 1px var(--accents-6);
}
@media only screen and (max-width: 600px) {
  .MainArea {
    padding-top: 116px;
  }
  .SidebarContainer {
    position: fixed;
    z-index: 1;
  }
  .DisplayContainer {
    margin-left: 72px;
  }
}
