.light,
:root {
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --color-foreground: #000;
  --color-background: #fff;
  --color-selection: var(--color-cyan);
  --color-success: #0070f3;
  --color-success-light: #3291ff;
  --color-success-dark: #0366d6;
  --color-error: #e00;
  --color-error-light: #ff1a1a;
  --color-error-dark: #c00;
  --color-warning: #f5a623;
  --color-warning-light: #f7b955;
  --color-warning-dark: #f49b0b;
  --color-alert: #ff0080;
  --color-purple: #f81ce5;
  --color-cyan: #79ffe1;
  --color-violet: #7928ca;
  --color-link-color: var(--color-success);
  --color-secondary: var(--accents-5);
  --color-code: var(--color-purple);
  --scroller-start: #fff;
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-solid:  var(--color-foreground) 0px 0px 0px 3px;
  --shadow-solid-hover: var(--shadow-solid),  var(--color-cyan) 10px 10px 0px -3px, var(--color-foreground)  10px 10px;
  --size-gap: 1rem;
  --size-gap-negative: -1rem;
  --size-gap-half: .5rem;
  --size-gap-half-negative: -.5rem;
  --size-gap-quarter: .25rem;
  --size-gap-quarter-negative: -.25rem;
  --size-gap-oneandhalf: 1.5rem;
  --size-gap-twice: 2rem;
  --size-page-margin: 16pt;
  --size-breakpoint-mobile: 600px;
  --size-breakpoint-tablet: 960px;
  --size-radius: 5px;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.dark {
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --color-foreground: #fff;
  --color-background: #000;
  --color-selection: var(--color-purple);
  --color-success: #0070f3;
  --color-success-light: #3291ff;
  --color-success-dark: #0366d6;
  --color-error: #e00;
  --color-error-light: #ff1a1a;
  --color-error-dark: #c00;
  --color-warning: #f5a623;
  --color-warning-light: #f7b955;
  --color-warning-dark: #f49b0b;
  --color-alert: #ff0080;
  --color-purple: #f81ce5;
  --color-cyan: #79ffe1;
  --color-violet: #7928ca;
  --color-link-color: var(--color-foreground);
  --color-secondary: var(--accents-5);
  --color-code: var(--color-cyan);
  --dropdown-box-shadow: 0 0 0 1px #333;
  --dropdown-triangle-stroke: #333;
  --scroller-start: rgba(0, 0, 0, 0.3);
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-small: 0 0 0 1px #333;
  --shadow-medium: 0 0 0 1px #333;
  --shadow-large: 0 0 0 1px #333;
  --shadow-solid:  var(--color-foreground) 0px 0px 0px 1px;
  --shadow-solid-hover: var(--shadow-solid),  var(--color-cyan) 10px 10px 0px -3px, var(--color-cyan)  10px 10px;
  --portal-opacity: 0.75;
}
