* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}


*::-webkit-scrollbar {
  width:.5em;
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
  border-radius: 1em;
}
